div.centerall(@resize="getBubbleSize()" style="float:right;" :style="{width: (!res ? '42%' : '100%'), padding: (!res ? '45px' : '0'), padding: (!res ? 'var(--thumbw)' : '0')}")
	#modal.centerallwrap.tb-10-m0(v-if="modal" style="height:auto;float:none;")
		div.row
			label(v-text="'Your e-mail address'")
			input#uid.tb-10-m0(type="email" v-model="uid")
			button.tb-10-m0(@click="localStorageName()", v-text="'submit'")
		//:style="{'enable-background':('new 0 0 ' + (wih - 90) + ' ' + (wih - 90)), width: (wiw + 'px'), position: 'absolute'}",
		//preserveAspectRatio="none", 
			

			//- div.tb-10-m0.tb-07-m2
		//- :style="{height: (!api ? '33%' : 'auto')}"
	div.row.centerallwrap(v-if="cards && cards.length > 0"  style="position:relative;height:auto;")
		div.tb-10-m0(
			v-if="(api && !guestlistCollapse && players.length > 0 && players.indexOf(uid) === 0)"
			:style="{'padding-right': (!res ? '10px' : '0')}")
			label(for="guestlist") Guestlist
			input#guestlist.row(type="text" v-model="guestlist")
			p(v-text="'Enter e-mail addresses (including yours), separated by commas'")
			div.row
				button(
					:class="(!api ? 'tb-10-m0' : 'tb-04-m0')"
					@click="sendInvites" 
					v-text="'Send invites'"
					style="float:none;"
				)
				div(:class="(!api ? 'tb-10-m0' : 'tb-02-m0')")
				button(
					:class="(!api ? 'tb-10-m0' : 'tb-04-m0')"
					@click="toggleGuestlist" 
					v-text="'Cancel'"
					style="padding-right:0;"
				)
		//display: (players.indexOf(uid) === 0 && !playerhands[uid] ? 'inline-block' : 'none')
		//- :style="{margin: (!play.name ? '10px 0 0 10px!important' : '10px auto!important'), 'padding': (!play.name ? '10px' : '12px 20px 20px 20px')}"

		div.row
			button#play(
				v-if="!busy && !ready && !inprogress"
				:class="(!api ? (!res ? 'tb-03-m0' : 'tb-10-m0') : 'tb-03-m0')"
				@click="startPlay($event)"
				v-text="(players.length <= 1 ? 'Start game' : 'Join game')"
				style="float: left;margin:10px 5% 0 0!important;"
			)
			//- :style="{margin: (!play.name ? '10px 0 0 10px!important' : '10px auto!important'), 'padding': (!play.name ? '10px' : '12px 20px 20px 20px')}"
			button#deal(
				v-if="!busy && ready && api && players.indexOf(uid) === 0 && !playerhands[uid]"
				:class="(!res ? 'tb-03-m0' : 'tb-10-m0')"
				@click="initDeal($event)"
				v-text="'Deal'"
				style="float: left;margin:10px 5% 0 0!important;"
			)
			button(
				:class="(!api ? (!res ? 'tb-03-m0' : 'tb-10-m0') : 'tb-03-m0')"
				v-if="guestlistCollapse && players.indexOf(uid) === 0 " 
				v-text="'Invite players'" 
				@click="toggleGuestlist"
				style="float:none;"
				:style="{margin: (!res ? '10px 5%!important' : '10px 0!important')}"
			)
			button#end(
				:class="(!api ? (!res ? 'tb-03-m0' : 'tb-10-m0') : 'tb-03-m0')"
				v-text="(!api ? 'End game' : (players.indexOf(uid) === 0 ? 'End call' : 'Leave call'))"
				@click="(players.indexOf(uid) === 0 ? unload() : leave())"
				style="margin: 10px 0!important;"
				:style="{float:(!guestlistCollapse ? 'right' : 'none')}"
			)
	div.row.centerallwrap(v-if="cards && cards.length > 0" style="position:relative;height:33%;")
		div.tb-05-m0#cards(style="height:100%;position:relative;")
			//- div(style="margin: 0 auto;position:relative;height:100%;")
			//- :src="'/images/1B.svg'" 
			img(
					v-for="(card, i) in cards" 
					:id="'card'+i"
					:src="'/images/'+card+'.svg'" 
					style="position:absolute;width:auto;height:72%;bottom:15px;right:10px;" 
					:style="{transform:'translate(-'+(i*0.05)+'px,-'+(i*0.05)+'px)'}"
					@click="draw()"
				)
		div.tb-05-m0#discard(style="height:100%;")
			div.row(style="margin:0 auto;position:relative;width:50%;height:80%;border:1px solid black;")
				div(
					style="position:absolute;width:100%;height:100%;right:0;bottom:10px;" 
					@click="discardActive"
				)
				img(
					v-for="(card, i) in discard" 
					:src="'/images/'+card+'.svg'" 
					style="position:absolute;width:50%;height:70%;right:0;bottom:10px;" 
					:style="{transform:'translate(-'+(i*0.05)+'px,-'+(i*0.05)+'px)'}"
				)
	div#hand.row.centerallwrap(v-if="playerhands[uid]" style="position:relative;height:33%;")
		div.tb-01-m0(v-for="(c,k) in playerhands[uid]" style="width:16.6%;")
			img(
				:src="'/images/'+c+'.svg'" 
				style="height: auto; width: 90%;" 
				:style="{border: (whoseTurn === uid && Array.isArray(teed) && teed.map(function(t){return t.card}).indexOf(c) !== -1 && teed.map(function(t){return t.index}).indexOf(k) !== -1 ? '2px solid red' : '0px solid rgba(255,255,255,0)')}"
				@click="tee(c, k)"
			)
