//- script(src="/scripts/jitsiFunctions.js")
script(src="/scripts/dataObj.js?version="+Math.random())
script(src="/scripts/functions.js?version="+Math.random())
if (!production)
	script(src="/scripts/socket.io-client/dist/socket.io.dev.js")
else
	script(src="/scripts/socket.io-client/dist/socket.io.js")

script(type="text/javascript").
	var socket = io();
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	Vue.prototype.JitsiMeetExternalAPI = window.JitsiMeetExternalAPI;
	Vue.prototype.localStorage = localStorage;
	Vue.prototype.dataObj = dataObj;
	Vue.prototype.functions = functions;
	Vue.prototype.socket = socket;
	var vueEl = new Vue({
		el: '#vue',
		data: function() {
			var app = this;
			var apt = this.parseObj(!{JSON.stringify(appTitle)});
			var plyrs = this.parseObj(!{JSON.stringify(players)});
			var guests = this.nullIfEmpty(this.parseObj(!{JSON.stringify(guestlist)}));
			var wt = this.parseObj(!{JSON.stringify(whoseTurn)});
			var ti = this.parseObj(!{JSON.stringify(turnIndex)});
			return dataObj(
				app,
				apt,
				plyrs,
				guests,
				wt,
				ti
			)
		},
		updated: function() {

		},
		beforeDestroy: function() {
			var self = this;
			if (self.timeout && self.timeout !== '') {
				clearTimeout(self.timeout);
			}
		},
		mounted: async function() {
			var self = this;
			self.getBubbleSize();
			window.addEventListener('resize', self.handleResize);
			self.getCheck();
			if (!self.cards || self.cards === '' || self.cards === '[]' || self.cards.length === 0) {
				console.log('no cards')
				self.getCards()
			}
			if (!self.guestlist || self.guestlist === '' || self.guestlist === self.uid) {
				if (localStorage.getItem('__cardgame_guestlist__')) {
					self.guestlist = localStorage.getItem('__cardgame_guestlist__')
				} else {
				}
			}
			self.startPlay();
			
			socket.on('changed state', function(msg){
				var keys = Object.keys(msg);
				var count = 0;
				keys.forEach(function(k){
					if (k === 'playerhands') {
						Object.keys(msg[k]).forEach(function(p){
							self.playerhands[p] = msg[k][p]
						})
					} else {
						self[k] = msg[k]
					}
				});
				self.ready = self.isReady()
			})
		},
		methods: Object.assign({}, functions)
		
	})